<!DOCTYPE html>
<html>
   <head>
        <title>阅卷系统</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4 text-center">阅卷系统</h1>
              <p class="lead text-center">
                正在阅卷中......</p>
            </div>
        </div>

        <form  action="finish/" method="post">
            {% csrf_token %}
            <div class="card border-secondary text-center ">
                <div class="card-header">
                题目1
                </div>
                <div class="card-body">
                <h5 class="card-title">{{ record_list.0.question_id.question }}</h5>
                <p class="card-text">答案：    {{ record_list.0.stu_answer }}</p>
                </div>
                <div class="card-footer text-muted">
                    请判断学生作答情况:<br>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" autocomplete="off" id="b0_1" 
                        name="q0" value=1 checked>
                        <label class="btn btn-outline-secondary" for="b0_1">正确</label>
                        <input type="radio" class="btn-check" autocomplete="off" id="b0_2" 
                        name="q0" value=0>
                        <label class="btn btn-outline-secondary" for="b0_2">错误 </label> 
                    </div>
                </div>
            </div>
            <br></br>
            <div class="card border-secondary text-center" >
                <div class="card-header">
                题目2
                </div>
                <div class="card-body">
                <h5 class="card-title">{{ record_list.1.question_id.question }}</h5>
                <p class="card-text">答案：    {{ record_list.1.stu_answer }}</p>  
                </div>
                <div class="card-footer text-muted">
                    请判断学生作答情况:<br>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" autocomplete="off" id="b1_1" 
                        name="q1" value=1 checked>
                        <label class="btn btn-outline-secondary" for="b1_1">正确</label>
                        <input type="radio" class="btn-check" autocomplete="off" id="b1_2" 
                        name="q1" value=0>
                        <label class="btn btn-outline-secondary" for="b1_2">错误 </label> 
                    </div>
                </div>
            </div>
            <br></br>
            <div class="card border-secondary text-center ">
                <div class="card-header">
                题目3
                </div>
                <div class="card-body">
                <h5 class="card-title">{{ record_list.2.question_id.question }}</h5>
                <p class="card-text">答案：    {{ record_list.2.stu_answer }}</p>
                </div>
                <div class="card-footer text-muted">
                    请判断学生作答情况:<br>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" autocomplete="off" id="b2_1" 
                        name="q2" value=1 checked>
                        <label class="btn btn-outline-secondary" for="b2_1">正确</label>
                        <input type="radio" class="btn-check" autocomplete="off" id="b2_2" 
                        name="q2" value=0>
                        <label class="btn btn-outline-secondary" for="b2_2">错误 </label> 
                    </div>
                </div>
            </div>
            <br></br>
            <div class="d-grid gap-2">
                <input class="btn btn-primary" type="submit" value="确认">
              </div>
            
        </form>

   </body>
</html>