<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教师登陆界面</title>
</head>
<body>
    <h1>CET教师登录界面</h1>
    <h2>欢迎访问CET考试系统，请登录平台查看详情</h2>
    <form method="post" action="">
        {% csrf_token %}
        <label for="username">用户名:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">密码:</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">登录</button>
    </form>
    <p>如果没有账号，请注册：</p>
    <a href="/user/tea_signup"><button>注册账号</button></a>
</body>
</html>