<!DOCTYPE html>
<html lang="cn">
<head>
    <title>考试信息汇总</title>
    <style>
        .title {
            text-align: center;
        }
        table {
            width: 80%;
            margin: 0 auto;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1 class="title">您已报名的考试信息汇总表</h1>
    <table>
        <tr>
            <th>考试名称</th>
            <th>考试日期</th>
            <th>考试时间</th>
            <th>考试地点</th>
            <th>考试人数</th>
            <th>考试类型</th>
            <th>考试状态</th>
        </tr>
        {% for exam in exams %}
        <tr>
            <td>{{ exam.name }}</td>
            <td>{{ exam.date }}</td>
            <td>{{ exam.start_time }} — {{ exam.end_time}}</td>
            <td>{{ exam.place }}</td>
            <td>{{ exam.max_students }}</td>
            <td>{{ exam.is_online|yesno:"线上,线下" }}</td>
            <td>
                {% if exam.is_online and exam.is_beginning %}
                    <a href="online/{{ exam.id }}">线上正在考试</a>
                {% elif exam.is_beginning %}
                    线下正在考试
                {% else %}
                    考试还未开始
                {% endif %}
            </td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>
