<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
</head>
<body>
<ul>
    {% for key, value in request.session.info.items %}
        <li>{{ key }}: {{ value }}</li>
    {% endfor %}
</ul>
<table>
    {% for key, value in n1.items %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
    {% endfor %}
    </table>


<form method="post" action="{% url 'PayOrder' %}">
    {% csrf_token %}
    <input type="hidden" name="order" value="{{ n1 }}">
    <button type="submit">支付订单</button>
</form>

</body>
</html>